#Python Fundamentals

####Exercise on Loops

In [ ]:
n_terms = int(input("Enter the number of nth terms:"))
a, b = 0, 1
print("Fibonacci Series:", end=" ")
for i in range(n_terms):
    print(a, end=" ")
    a, b = b, a + b # main equation

Enter the number of nth terms:7
Fibonacci Series: 0 1 1 2 3 5 8

In [ ]:
num = int(input("Enter a number: "))
factorial = 1
for i in range(1, num + 1):
    factorial *= i
print(f"Factorial of {num} is {factorial}")

Enter a number: 7
Factorial of 7 is 5040

In [ ]:
rows = 5
for i in range(1, rows + 1):
    print("*" * i)

*
**
***
****
*****

####Exercise on Functions

In [ ]:
def add(a, b):
    return a + b

def subtract(a, b):
    return a - b

def multiply(a, b):
    return a * b

def divide(a, b):
    return a / b if b != 0 else "Cannot divide by zero"

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

print(f"Addition: {add(num1, num2)}")
print(f"Subtraction: {subtract(num1, num2)}")
print(f"Multiplication: {multiply(num1, num2)}")
print(f"Division: {divide(num1, num2)}")

Enter first number: 7
Enter second number: 9
Addition: 16.0
Subtraction: -2.0
Multiplication: 63.0
Division: 0.7777777777777778

####Exercise on List and Dictionaries

In [ ]:
def remove_first_duplicate(lst):
    seen = set()
    for i, val in enumerate(lst):
        if val in seen:
            return lst[:i] + lst[i+1:]
        seen.add(val)
    return lst
my_list = [1, 2, 3, 4, 2, 5]
print(remove_first_duplicate(my_list))

[1, 2, 3, 4, 5]

In [ ]:
sample_dict = { "name": "Anderson", "age": 35, "salary": 5000, "city": "London"}
keys = ["name", "salary"]

new_dict = {key: sample_dict[key] for key in keys}
print(new_dict)

{'name': 'Anderson', 'salary': 5000}

In [ ]:
list_one = ['one', 'two', 'three']
list_two = [1, 2, 3]

result_dict = dict(zip(list_one, list_two))
print(result_dict)

{'one': 1, 'two': 2, 'three': 3}